
:root body{
    color: black !important;
    background-color: gray !important;
    background-image: url("/src/images/fond.png");
    background-repeat: repeat;
    background-size: cover;
    transform: scaleX(1) !important;
    cursor: auto !important;
}

.container{
    display:flex;
}

.boite-1{
    width: 80%;
    background-color: white;
    margin: auto;
    margin-top: 20px;
    padding: 50px;
    border: 1px solid black;
}

#boite-2{
    margin: auto;
    margin-top: 30px;
    padding: 50px;
    border: 1px solid black;
    font-size: small;
    text-align: center;   
}

.boite-3{
    width: 40%;
    height: 400px;
    background-color: white;
    margin: auto;
    margin-top: 50px;
    padding: 50px;
    border: 1px solid black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-align: center;
    box-shadow: 2px 2px;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    width: 300px;
  }
  
  .input-group {
    margin-bottom: 1rem;
    text-align: left;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
  }

  input,textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  input:read-only{
    color:gray;
}

.grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: auto auto auto auto;
    gap: 30px;
    margin-top: 65px;
    margin-left: auto;
    padding: 10px;
  }

  .grid-item {
    width: 350px;
    height: 500px;
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  } 


#status{
   font-size: 50px;
   line-height:60px;
   filter: blur(1.5px);  
}

a{
    color: black;
}

.retour{
    color: black;
    text-align: center;
    font-size:30px;
    text-shadow: 0.1em 0.1em 0.8em;
}
.logoNoir{
    margin-left: 37%;
    margin-top: -90px;

}

table, th {
    border: 1 px solid black;
    border-collapse: collape;
    background-color: #ebe9e9;
    border:0.5px solid gray;
    border-collapse: collapse;
}

th {
    padding: 20px;
}

td{
    background-color: white;
    border:0.5px solid gray;
    border-collapse: collapse;
    padding: 10px;
    
}
.login-btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #695C4B;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.login-btn:hover {
  background-color: #564D3D;
}

.forgot-password {
  display: block;
  margin-top: 1rem;
  color: #007BFF;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

