
    :root body{
        color: black !important;
        background-color: gray !important;
        background-image: url("/src/images/fond.png");
        background-repeat: repeat;
        background-size: cover;
        transform: scaleX(1) !important;
        cursor: auto !important;
    }

    #navbar {
        height: 100px;
        margin-top:50px;
        background-color: black;
    }

    #navbar > img{
        width: 100px;
    }

    .boite-1{
        width: 40%;
        height: 400px;
        background-color: white;
        margin: auto;
        margin-top: 100px;
        padding: 50px;
        border: 1px solid black;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: xx-large;
        text-align: center;
        box-shadow: 0.1em 0.1em 0.4em;
        
    }
    #status{
       font-size: 50px;
       line-height:60px;
       filter: blur(1.5px);  
    }

a{
    color: black;
}

    .retour{
        color: black;
        text-align: center;
        font-size:30px;
        text-shadow: 0.1em 0.1em 0.8em;
    }
    .logoNoir{
        margin-left: 37%;
        margin-top: -90px;

    }

    .container{
        display:flex;
    }


    table, th {
        border: 1 px solid black;
        border-collapse: collape;
        background-color: #ebe9e9;
        border:0.5px solid gray;
        border-collapse: collapse;
    }

    th {
        padding: 20px;
    }

    td{
        background-color: white;
        border:0.5px solid gray;
        border-collapse: collapse;
        padding: 10px;
    }


